<div class="footer-container">
  <div class="footer">
    <div class="row">
      <div class="row-big">
        {%- include author.html -%}
      </div>
      <div class="row-big">
        <div class="copyright">
          &copy; 2014-{{ site.time | date: "%Y" }} {{ site.about.name }}.<br />
          <em>Made with <i class="far fa-heart"></i> in Seattle.</em><br />
          <em>Powered by <a href="https://digitalocean.com"><i class="fab fa-digital-ocean"></i></a></em><br />
          <a href="//twitter.com/_johlym" title="Find me on twitter"><i class="fab fa-twitter"></i></a> <a href="/feed.xml" title="RSS Feed"><i class="fas fa-rss-square"></i></a> <a href="https://www.buymeacoffee.com/johnathan" title="Buy me a coffee"><i class="far fa-coffee"></i></a>
          <br /><br />
          <i class="fas fa-tachometer-alt"></i> Uptime: <span class="uptime-number"><i class="far fa-sync fa-spin"></i></span> <a href="//status.johnathan.org"> <i class="far fa-external-link"></i></a>
          <br /><br />
          Some links may contain tracking code that lead to compensation. 
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script defer src="/assets/js/lightbox.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="//rum-static.pingdom.net/pa-5afc634e36f6400006000147.js" async></script>