<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="yandex-verification" content="114022df2ee682dc" />
<meta name="msvalidate.01" content="A7CA3DDA4E2BD27483559A916A6233BC" />
{%- seo -%}
<link rel="stylesheet preload" href="/assets/css/screen.css?{{ site.time | date: "%s" }}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Playfair+Display:400,700|Rouge+Script" rel="stylesheet preload">
<link rel="stylesheet preload" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous">
<link rel="alternate" type="application/rss+xml" href="https://johnathan.org/feed.xml" />
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
{% include critical-css.html %}
{% include ga.html %}
</head> 