<div class="header">
  <div class="site-title">
    <span class="title-link">
      <a href="/">johnathan.org/</a> 
    </span>
  </div>
  <div class="navigation">
    <ul class="menu">
      {% for item in site.menus.header %}
      <li class="menu-item menu-item-{{ item.identifier }}">
        <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
      </li>
      {% endfor %} 
      <li class="menu-item menu-item-{{ item.identifier }}">
        <a href="https://github.com/johlym" rel="me" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
  <div class="ad">
    {% include ad.html %}
  </div>
</div>