<div class="main">
    <!-- This loops through the paginated posts -->
  {%- for post in paginator.posts -%}
  <article class="post">
    <h1 class="post-title">
        {%- if post.format == "link" -%}
        <a href="{{ post.permalink }}">{{ post.title }} <i class="fas fa-arrow-right"></i></a>
        {%- else -%}
        <a href="{{ post.url }}">{{ post.title }}</a>
        {%- endif -%}
    </h1>
    {%- if post.excerpt -%}
    <div class="excerpt">{{ post.excerpt }}</div>
    {%- endif -%}
    <div class="author">
        <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
    </div>
    <div class="content">
    {{ post.content }}
    </div>
    <div class="tags">
      {%- if post.tags.size > 0 -%}
        {%- assign cat_list = post.tags | sort -%}
        more about: 
        {%- for tag in cat_list -%}
        <a href="/tag/{{ tag | slugify }}.html" class="tag">
        {%- if forloop.last -%}{{ tag }}</a>
        {%- else -%}{{ tag }}</a>&nbsp;/&nbsp;
        {%- endif -%}
        {%- endfor -%} 
      {%- endif -%}</div>
    
  </article>
  {%- endfor -%}

  <!-- Pagination links -->
  {%- if paginator.total_pages > 1 -%}
  <div class="pagination">

    <div class="newer">
      {%- if paginator.previous_page -%}
      <i class="fas fa-arrow-left"></i> <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer Posts</a>
      {%- endif -%}
    </div>

    <div class="older">
      {%- if paginator.next_page -%}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts</a> <i class="fas fa-arrow-right"></i> 
      {%- endif -%}
    </div>

  </div>
  {%- endif -%}
  {%- include newsletter.html -%}
</div>
