@font-face {
  font-family: "Charter";
  src: url("/assets/fonts/charter/charter.eot");
  src: 
  url("/assets/fonts/charter/charter.woff") format("woff"),
  url("/assets/fonts/charter/charter.otf") format("opentype"),
  url("/assets/fonts/charter/charter.svg#filename") format("svg");
  }