html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #333;
}
.container {
  background-color: #fff;
  width: 100%;
  padding-bottom: 50px;
  border-top: 5px solid #333;
  .header {
    min-height: 50px;
    @include globalposition;
    display: flex;
    @include respond-to('mobile') {
      flex-direction: column;
    }
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    .site-title {
      display: flex;
      flex-direction: column;
      @include respond-to('mobile') {
        flex-direction: row;
      }
      justify-content: center;
      order: 0;
      @include respond-to('mobile') {
        order: 1;
      }
      flex: 0 1 auto;
      align-self: stretch;
      font-size: 1.25em;
      font-weight: normal;
      .title-link {
        background: linear-gradient(to bottom, transparent 0%, transparent 25%, #ffe96f 25%, #ffe96f 75%, transparent 75%);
        &:hover {
          background: #ffe96f;      
        }
        a {
          color: #333;
          text-decoration: none;
        }
      }

    }
    .navigation {
      order: 0;
      @include respond-to('mobile') {
        order: 2;
      }
      flex: 1 1 auto;
      align-self: stretch;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 1em;
      .menu {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0 5px;
          a {
            color: #333;
            text-decoration: none;
            background: linear-gradient(to bottom, transparent 0%, transparent 25%, #aaffcb 25%, #aaffcb 75%, transparent 75%);
            &:hover {
              background: #aaffcb;
            }
          }
        }
      }
    }
    .ad {
      order: 0;
      @include respond-to('mobile') {
        order: 0;
      }
      flex: 0 1 auto;
      flex-direction: column;
      justify-content: center;
      font-size: 0.8em;
      text-align: right;
      margin-top: 1em;
      a {
        color: #333;
      }
      img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
    }
  }

  .search {
    min-height: 50px;
    @include globalposition;
  }

  .main {
    @include globalposition;
    article {
      padding-bottom: 20px;
      margin-bottom: 20px;
      .post-title {
        font-family: "Playfair Display";
        font-size: 3em;
        line-height: 1.15em;
        margin-bottom: 0;
        a {
          color: #111;
          text-decoration: none;
        }
      }
      .excerpt {
        font-size: 1.5em;
        font-weight: 100;
        color: #999;
        padding-bottom: 20px;

      }
      .author {
        font-size: 0.8em;
        font-style: italic;
        color: #555;
      }
      .content {
        border-top: 1px solid #eee;
        p, li {
          color: #444;
          a {
            @include standardlink;
          }
          code {
            padding: 4px;
            background: #f5f5f5;
          }
          img {
            border-style: none;
            height: auto;
            max-width: 700px;
          }
        }
        blockquote {
          border-left: 5px solid #91e5ff;
          padding-left: 10px;
          margin-left: 1em;
          p {
            font-style: normal;
            color: #333;
            font-size: 1.3em;
            font-family: "Playfair Display", serif;
          }
        }
        table {
          max-width: 700px;
          width: 100%;
          text-align: left;
          border-collapse: collapse;
          td, th {
            border: 1px solid #EEEEEE;
            padding: 6px 6px;
          }
          tr:nth-child(even) {
            background: #F5F5F5;
          }
          thead th {
            font-weight: bold;
            color: #333333;
          }
          tfoot .links {
            text-align: right;
            a {
              @include standardlink;
            }
          }
        }
        pre {
          padding: 1em;
          border: 1px solid #f0f0f0;
          border-radius: 4px;
          word-wrap: normal;
          overflow: scroll;
          code {
            font-size: 0.9em;
          }
        }
        .follow-up {
          padding: 1em;
          color: #333;
          margin: 1em 0;
          h4 {
            margin: 0;
          }
          h5 {
            margin: 0;
            font-weight: normal;
            font-style: italic;
          }
          .btn {
            -webkit-border-radius: 4;
            -moz-border-radius: 4;
            border-radius: 4px;
            font-family: Arial;
            color: #fff;
            background: #333;
            padding: 10px;
            border: solid #000 1px;
            text-decoration: none;
          }
        }
        .caption {
          font-size: 0.8em;
          color: #666;
          text-align: center;
          display:block;
          margin-top: 0px;
        }
        .big-image-container {
          position: relative;
          left: calc(-50vw + 50%);
          width: 100vw;
          height: auto;
          &>img {
            margin: 0 auto;
            width: 100%;
            display:block;
            max-width: 700px;
          }
        }
        .buy-coffee {
          background-color: #f5f5f5;
          border: 1px solid #ddd;
          padding-bottom: 1.5em;
        }
        .notice {
          background-color: #c7effc;
          border: 1px solid #27b6e6;
        }
        hr.ending {
          border: 0;
          border-top: 1px solid #f0f0f0;
          text-align: center;
          height: 0;
        }
        hr.ending:after {
          content: 'fin';
          display: inline-block;
          position: relative;
          top: -15px;
          padding: 0 10px;
          background: #fff;
          color: #ccc;
          font-size: 14px;
          font-family: cursive;
        }
        .about-the-author {
          h4 {
            margin: 1em 0 0 0;
            line-height: 1;
          }
          .headshot {
            float: right;
            height: 100px;
            margin: 1em 1em 1em 0;
            border: 0;
            border-radius: 50px;
          }
        }
        .sponsored-by {
          padding: 0 0 1.5em 0;
          border-top: 1px solid #f0f0f0;
          .disclosure {
            line-height: 1;
            padding: 3px;
            float: right;
            background: #f0f0f0;
            color: #999;
            font-size: 8pt;
          }
          .sponsored-by_image-container {
            min-height: 128px;
            padding-top: 1em;
            .sponsored-by_image {
              float: left;
              margin-right: 1em;
              width: 100px;
              height: auto;
            }
            .sponsored-by_title {
              margin-bottom: 1em;
            }
            .sponsored-by_text {
              margin-top: 0;
            }
          }
          .sponsored-by_cta {
            -webkit-border-radius: 4;
            -moz-border-radius: 4;
            border-radius: 4px;
            font-family: Arial;
            color: #fff;
            padding: 10px;
            text-decoration: none;
          }
        }
      }
      .tags {
        font-size: 0.8em;
        color: #555;
        a.tag {
          color: #333;
          text-decoration: none;
          background: linear-gradient(to bottom, transparent 0%, transparent 25%, #ffd4b8 25%, #ffd4b8 75%, transparent 75%);
          &:hover {
            background: #ffd4b8;
          }
        }
      }
    }
    .footer-things {
      display: flex;
      flex-direction: row;
      padding: 20px 0;
      border-top: 1px solid #f5f5f5;
      margin-bottom: 20px;
      div > p > a {
        color: #333;
        text-decoration: none;
        background: linear-gradient(to bottom, transparent 0%, transparent 25%, #aaffcb 25%, #aaffcb 75%, transparent 75%);
        &:hover {
          background: #aaffcb;
        }
      }
    }
    
    .pagination {
      margin-top: 20px;
      display: flex;
      .older {
        order: 2;
        flex: 0 1 50%;
        text-align: right;
        a {
          color: #333;
          text-decoration: none;
          background: linear-gradient(to bottom, transparent 0%, transparent 25%, #ffe6b8 25%, #ffe6b8 75%, transparent 75%);
          &:hover {
            background: #ffe6b8;
          }
        }
      }
      .newer {
        order: 1;
        flex: 0 1 50%;
        text-align: left;
        a {
          color: #333;
          text-decoration: none;
          background: linear-gradient(to bottom, transparent 0%, transparent 25%, #ffe6b8 25%, #ffe6b8 75%, transparent 75%);
          &:hover {
            background: #ffe6b8;
          }
        }
      }
    }
  }
}
.footer-container {
  width: 100%;
  background-color: inherit;
  color: #eee;
  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 0.9em;
  .footer {
    @include globalposition;
    display: flex;
    flex-direction: column;
    a {
      @include archivelink;
    }
    .row {
      flex: 0 1 auto;
      display: flex;
      flex-direction: row;
      .row-big {
        flex: 1 1 66%;
        .archive-links {
          .year {
            margin-bottom: 20px;
            width: calc(50% - 20px);
            float: left; 
            padding-right: 20px;
            .month {
              margin-right: 5px;
            }
          }
        }
      }
      .row-small {
        flex: 0 1 16.5%;
        text-align: right;
        ul {
          list-style-type: none;
          padding-left: 0;
        }
      }
    }
    .copyright {
      flex: 0 1 auto;
      text-align: center;
    }
  }
}

