@media only screen and (max-width: 480px) {
  .pure-form {
    button[type="submit"] {
      margin: 0.7em 0 0;
    }
    input {
      &:not([type]), &[type="text"], &[type="password"], &[type="email"], &[type="url"], &[type="date"], &[type="month"], &[type="time"], &[type="datetime"], &[type="datetime-local"], &[type="week"], &[type="number"], &[type="search"], &[type="tel"], &[type="color"] {
        margin-bottom: 0.3em;
        display: block;
      }
    }
    label {
      margin-bottom: 0.3em;
      display: block;
    }
  }
  .pure-group input {
    &:not([type]), &[type="text"], &[type="password"], &[type="email"], &[type="url"], &[type="date"], &[type="month"], &[type="time"], &[type="datetime"], &[type="datetime-local"], &[type="week"], &[type="number"], &[type="search"], &[type="tel"], &[type="color"] {
      margin-bottom: 0;
    }
  }
  .pure-form-aligned {
    .pure-control-group label {
      margin-bottom: 0.3em;
      text-align: left;
      display: block;
      width: 100%;
    }
    .pure-controls {
      margin: 1.5em 0 0 0;
    }
  }
  /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
  .pure-form .pure-help-inline, .pure-form-message-inline, .pure-form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em;
  }
}