<!DOCTYPE html>
<html lang="en">
{%- include header-html.html -%}
<body>
  <div class="container">
  {%- include header-container.html -%}
  <div class="main">
      <article class="post">
        <h1 class="post-title"><a href="{{ post.url }}">{{ page.title }}</a></h1>
        {%- if page.excerpt -%}
        <div class="excerpt">{{ page.excerpt }}</div>
        {%- endif -%}
        <span class="author">
            <span class="date">{{ page.date | date: "%B %d, %Y" }}</span>
        </span>
        <div class="content">
        {{ page.content }}
        <hr class="ending">
        <div class="follow-up">
          <div class="message">
              <h4>You've finished reading, now what?</h4>
              <p>If you've made it this far, I thank you. Your time and eyeballs mean a lot to me. If this post was something less than an entire waste of time, here are a couple things you can do next:</p>
          </div>
          <div class="options">
            <div class="option">
              <div class="coffee">
                <h4>Buy me a coffee</h4>
                <p><em>Caffeine is the life blood of my people and without it, we will perish.</em> <small>/s</small></p>
                <p><em>Not really, but I'd still love your support :)</em></p>
              </div>
              <div class="button-area">
                <a href="https://www.buymeacoffee.com/johnathan" class="btn" target="_blank"><i class="fas fa-coffee"></i> Buy me a coffee ($3)</a>
              </div>
            </div>
            <div class="option">
              <div class="newsletter">
                <h4>Subscribe</h4>
                <p><em>New posts in your inbox weely. What's your email address, friend?</em></p>
              </div>
              <div class="button-area">
                <form action="https://johnathan.us6.list-manage.com/subscribe/post?u=e5f42e548a66c308d233abedd&id=5a2942d91a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <label for="mce-EMAIL" style="display:none">Email Address </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_e5f42e548a66c308d233abedd_5a2942d91a" tabindex="-1" value="">
                  </div>
                  <div>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
                  </div>
                  </form>
              </div>
            </div>
          </div>
          
        </div>
        
        {%- include old-content.html -%}
        </div>
        <span class="tags">
        {%- if page.categories.size > 0 -%}
          {%- assign cat_list = page.categories | sort -%}
          filed under: 
          {%- for category in cat_list -%}
          {%- if forloop.last -%}<a href="/category/{{ category | downcase }}.html" class="tag">{{ category }}</a>
          {%- else -%}<a href="/category/{{ category | downcase }}.html" class="tag last">{{ category }}</a>&nbsp;/&nbsp;
          {%- endif -%}
          {%- endfor -%} 
        {%- endif -%}
        </span><br />
        <span class="tags">
        {%- if page.tags.size > 0 -%}
          {%- assign cat_list = page.tags | sort -%}
          more about: 
          {%- for tag in cat_list -%}
          <a href="/tag/{{ tag | slugify }}.html" class="tag">{%- if forloop.last -%}{{ tag }}</a>{%- else -%}{{ tag }}</a>&nbsp;/&nbsp;{%- endif -%}
          {%- endfor -%} 
        {%- endif -%}
        </span>
        {%- include content_ad.html -%}
      </article>
      <div class="footer-things">
        <div class="related footer-thing">
          {%- unless page.tag == null -%}
            {{ page.tags }}
          {%- endunless -%}  
        </div>
      </div>
      
      <div class="pagination">

        <div class="newer">
          {%- if page.previous.url -%}
          <i class="fas fa-arrow-left"></i> <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
          {%- endif -%}
        </div>

        <div class="older">
          {%- if page.next.url -%}
          <a class="next" href="{{page.next.url}}">{{page.next.title}}</a> <i class="fas fa-arrow-right"></i> 
          {%- endif -%}
        </div>

      </div>
    </div>
    
  </div>
  {%- include footer.html -%}
</body>
</html>