<!DOCTYPE html>
<html lang="en">
{% include header-html.html %}
<body>
  <div class="container">
  {% include header-container.html %}
  <div class="main">
      <article class="post">
        <h1 class="post-title"><a href="{{ post.url }}">{{ page.title }}</a></h1>
        {% if page.excerpt %}
        <div class="excerpt">{{ page.excerpt }}</div>
        {% endif %}
        <span class="author">
            <span class="date">{{ page.date | date: "%B %d, %Y" }}</span>
        </span>
        <div class="content">
        {{ page.content }}
        <hr class="ending">
        {% include author.html %}
        {% include content_ad.html %}
        {% include coffee.html %}
        {% include old-content.html %}
        </div>
        <span class="tags">
        {% if page.categories.size > 0 %}
          {% assign cat_list = page.categories | sort %}
          filed under: 
          {% for category in cat_list %}
          {% if forloop.last %}<a href="/category/{{ category | downcase }}.html" class="tag">{{ category }}</a>
          {% else %}<a href="/category/{{ category | downcase }}.html" class="tag last">{{ category }}</a>&nbsp;/&nbsp;
          {% endif %}
          {% endfor %} 
        {% endif %}
        </span><br />
        <span class="tags">
        {% if page.tags.size > 0 %}
          {% assign cat_list = page.tags | sort %}
          more about: 
          {% for tag in cat_list %}
          <a href="/tag/{{ tag | slugify }}.html" class="tag">{% if forloop.last %}{{ tag }}</a>{% else %}{{ tag }}</a>&nbsp;/&nbsp;{% endif %}
          {% endfor %} 
        {% endif %}
        </span>
      </article>
      <div class="footer-things">
        <div class="related footer-thing">
          {% unless page.tag == null %}
            {{ page.tags }}
          {% endunless %}  
        </div>
      </div>
      
      <div class="pagination">

        <div class="newer">
          {% if page.previous.url %}
          <i class="fas fa-arrow-left"></i> <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
          {% endif %}
        </div>

        <div class="older">
          {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">{{page.next.title}}</a> <i class="fas fa-arrow-right"></i> 
          {% endif %}
        </div>

      </div>
    </div>
    
  </div>
  {% include footer.html %}
</body>
</html>